*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 16px;

}

.container {
width: 100%;
max-width: 375px;
padding-top: 76px;
}

  /* Top Navigation */
.topnav{
  background: #265E9E;
  width: 100%;
  height: 84px;
  text-align: center;
  vertical-align: middle;
  max-width: 375px;
  position: fixed;
  top: 0px;
  z-index: 320;
}
.statusbar {
  background-image: url('/images/statusbar.png');
  background-repeat: no-repeat;
  height: 20px;
  width: 100%;
}

.stopnav{
  color: #FFFFFF;
  width: 100%;
  height: 64px;
  padding-top: 20px;
  display: block;
}

.back{
float: left;
margin-left: 16px;
display: inline-block;
}

.stop{
  /* Washington & State: */
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  letter-spacing: -0.41px;
  display: inline-block;

}

.star{
  float: right;
  margin-right: 16px;
  display: inline-block;
}

  /* Map */
  .map{
    background-image: url('/images/mask.png');
    height: 255px;
    width: 100%
  }

  .mapicon{
    background-color: #0078FF;
    width: 34.15px;
    height: 36.74px;
    border-radius: 20px;
    position: absolute; visibility: inherit; left: 160px; top: 250px; z-index: 200;
  }

  .mapiconline{
    background-color: #0078FF;
    width: 2px;
    height: 18.8px;
    position: absolute; visibility: visible; left: 176.5px; top: 285px; z-index: 200;
  }

  .busmap{
    background-image: url('/images/busiconmap.png');
    color: #fff;
    height: 19.92px;
    width: 19.92px;
    position: absolute; visibility: visible; left: 168px; top: 259px; z-index: 300;
  }
  /* Bus Line */
.blbar{
  background-color: #265E9E;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  height: 44px;
  color: #fff;
  padding-left: 16px;
  padding-top: 10px;
}

.direction{
  background-color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  height: 28px;
  padding-left: 16px;
  padding-top: 5px;
  font-weight:bold;
}
/* Bus Icon divs*/
.buswrapper{
  float: left;
  height: 100%;
  width: 16%;
  padding: 10px 0 10px  ;
}

.busicon{
  background-color: #D0021B;
  border-radius: 6px;
  width: 49px;
  height: 39px;
  text-align: center;
  background-image: url('/images/buslogo.png');
  background-position: center 4.5px;
  background-repeat: no-repeat;
  float: left;
}

.businner{
  background-color: #D0021;
  width: 45px;
  height: 35px;
  border-radius: 6px;
  margin: 2px;
  display: inline-block;
  border: solid 1px #fff;
}

.innerbusbox{
  height: 14px;
  width: 45px;
  border-color:#fff;
  margin-left: -1px;
  margin-top: 20px;
  display: inline-block;
  border: solid .5px #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.buslinenumber{
  height: 14px;
  width: 49px;
  margin-top: -19.5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.busstop{
  width: 100%;
  height: 56px;
  border-bottom: .05px solid #BCBBC1;
  background: #FFFFFF;
  padding-left: 12px;
  box-shadow: inset 0 0 0 0 #BCBBC1;
  background-color: #fff;
}

.destwrapper{
  float: left;
  width: 55%;
}

.destination{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #000000;
  padding: 10px 0 0px 5px;
  float:left;
}

.freqwrapper{
  float: left;
  width: 25%;
  height: 100%;

}

.arrival{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #B42100;
  padding: 8px 0 1px 30px;
  float: left;
}

.frequency{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  float: left;
  padding: 1px 1px 0 5px;
  text-align: left;
}

.arrow{
float: left;
width: 4%;
padding: 15px 0 0 0;

}
